@charset "UTF-8";

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 2em 2em 1em;
}

section{
    background-color: #fff7000c;
    max-width: 700px;
    max-height: 400px;
    margin: 3em auto;
    padding: 2em 2em 4em;
    border: 3px solid #ff1700;
    position: relative;
}
h1{
    text-align: center;
    color: #ff1700;
}
section h2{
    margin-bottom: 20px;
    font-size: 26px;
}
section p{
    font-size: 18px
}
/*Destaque*/
section span{
    background-color: #ff1700;
    color: #fff700;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px 15px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px
}
section a{
    text-decoration: none;
    background-color: #ff1700;
    color: #fff700;
    padding: 12px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: -23px;
    right: 20px;
}
section a:hover{
    background-color: #ff4b3a;
    transition: 1s;
    text-decoration: underline;
}