@charset "UTF-8";

/*conf. geral*/
*{
    margin: 0;
    padding: 0;
    font-family: var(--font1);
    box-sizing: border-box;
}

/*VARIÁVEIS*/
:root{
    --cor1: #b0ddfc;
    --cor2: #1c81c0;
    --cor3: #fff81d;
    --cor4: #1d1d1d;
    --font1: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

/*Cabeçalho | header*/
header{
    background-color: var(--cor1);
    text-align: center;
    height: 16em;
}
.logotipo img{
    width: 9em;
    margin: 1em auto;
}
header nav a{
    margin: 15px;
    color: var(--cor4);
    text-decoration: none;
    border-bottom: 2px solid var(--cor4);
}

/*corpo do site | Seção de IMAGENS*/
.imagem{ /*Estilos com a class 'imagem' | GLOBAL*/
    text-align: center;
}
.imagem img{  /*Estilo para todas as imagens*/
    width: 100%;
}

.imagem img[alt="Banner | Imobiliária"]{
    max-width: 1024px;
}
.banner{
    margin: 2em 0 4em ;
}
.imagem img[alt="Imovel"], .imagem img[alt="Imagens de corretores"]{
    max-width: 450px;
}

/*corpo do site | main*/
main{
    padding: 1em
}

main h1{
    text-align: center;
    margin: 0.3em auto;
    font-size: 2em;
}
main h2{
    text-align:  center;
    font-weight: normal;
    color: var(--cor2);
    margin-bottom: 1em;
}
main p{
    max-width: 850px;
    margin: 10px auto;
    text-align: justify;
}
