@charset "UTF-8";

:root{
    --cor1: #4711C1;
    --font1: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

/*Cabeçalho | Header*/
header{
    background-color: var(--cor1);
    height: 4em;
    display: flex;
    align-items: center;
}
header h1{
    color: #fff;
    font-weight: normal;
    font-size: 1.5em;
    margin: 0 1.5em 0 3em;
}
header nav a{
    background-color: #fff;
    padding: 0.3em 0.7em;
    border-radius: 1em;
    margin: 0.2em 0.4em;
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
}
/*Imagem de capa*/
.image-capa img{
    width: 100%;
}
/*Corpo do site | Sinopse*/
main{
    max-width: 1024px;
    margin: 2em auto;
    padding: 1.5em
}
main h2{
    text-align: center;
    margin: 1.5rem 0;
}
main p{
    line-height: 1.8rem;
    text-align: justify;
    margin: 1rem 0;
}
/*Seção disponivel*/
.image img{
    width: 100%;
}
/*galeria*/
.galeria{
    overflow-x: scroll;
    display: flex;
    margin: 0 auto 20px;
}

.galeria img{
    width: 300px;
    margin: 10px;
    box-shadow: 10px 10px 10px #0000005d
}