@charset "UTF-8";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: var(--font-padrao);
}

/* Variáveis */
:root {
  --font-padrao: "Source Sans Pro", sans-serif;

  --cor-paragrafo: #3d3d3d;
  --cor-destaque: #6592c9;
  --cor-box-destaque: #0a9077b3;
  --cor-footer-destaque: #49997d;

  --white: #fff;
  --black: #000;
}

html {
  scroll-behavior: smooth;
}

/* header | Cabeçalho */
header.cabecalho {
  background-color: var(--white);
  padding: 15px 1em;

  width: 100%;

  position: fixed;
}

.conteiner-top {
  max-width: 1024px;
  margin: auto;

  text-decoration: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header a {
  font-size: 1.3em;
  font-weight: 600;
}
.logo-header .destaque {
  color: var(--cor-destaque);
  font-variant: small-caps;
}

.nav-header {
  width: 200px;

  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-header a,
.logo-header a {
  color: var(--cor-paragrafo);
  text-decoration: none;
}
/* Efeitos hover nos links */
.nav-header a:hover {
  border-bottom: 1.9px solid var(--cor-box-destaque);
}
.card-quartos a:hover {
  color: var(--cor-box-destaque);
}

/* seção | banner */
#banner {
  min-height: 500px;
  margin-bottom: 4em;

  background: url("../assets/img-fundo.jpg") no-repeat center top;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-home {
  height: 95vh;
}

.box-destaque {
  background-color: var(--cor-box-destaque);
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 4px;

  width: 60%;
  min-width: 320px;
  max-width: 1024px;

  padding: 40px 20px;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.box-destaque h1 {
  font-size: 3em;
  text-align: center;
}
.box-destaque .subtitulo {
  font-size: 2em;
  text-align: center;
}

/* seções conteúdoo */
.secao {
  max-width: 1024px;
  margin: 0 auto 4em;
  padding: 0 1em;
}

/* box com os conteúdos */
div.conteudo {
  color: var(--cor-paragrafo);
  padding: 10px;

  text-align: center;

  margin-bottom: 1em;
}
.conteudo h2 {
  font-weight: 500;
  font-size: 2em;
  text-transform: uppercase;

  margin-bottom: 0.8em;
}
.conteudo p {
  line-height: 1.8em;
}

/* galeria de quartos 'seja bem vindo' */
.galeria-quartos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}
.card-quartos {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1 1 250px;
}

.link-quarto {
  width: 100%;
  text-align: center;

  padding: 1em 0;
  border-bottom: 3px solid var(--cor-box-destaque);

  flex: 1 0 auto;
}
.link-quarto a {
  color: var(--cor-paragrafo);
  text-decoration: none;
  font-weight: 600;
}

.card-quartos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* galeria 'sobre a pousada' */
.galeria-infor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

.card-infor {
  color: var(--cor-paragrafo);
  background-color: #f1f1f1;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.133);
  border-radius: 4px;

  height: 150px;
  flex: 1 1 400px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.card-infor-conteudo {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
  padding: 0 10px;
}

.card-infor-imagem {
  width: 30%;
  height: 100%;
}
.card-infor-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 4px;
}

/* footer | rodapé */
footer.rodape {
  background-color: var(--cor-footer-destaque);
  color: var(--white);
}

.footer-contato {
  max-width: 1024px;

  margin: auto;
  padding: 2em 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-contato > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  flex: 1 1 200px;
}

.copy {
  max-width: 1024px;
  margin: auto;
  padding: 1em 0;

  font-weight: bold;
  text-align: center;

  font-variant: small-caps;

  border-top: 2px solid #3b7863;
}
