@charset "UTF-8";

/* Variáveis */
:root {
  --font-padrao: "Source Sans Pro", sans-serif;

  --cor-paragrafo: #3d3d3d;
  --cor-destaque: #6592c9;
  --cor-box-destaque: #0a9077b3;
  --cor-footer-destaque: #49997d;

  --white: #fff;
  --black: #000;
}


/* seção | banner */
.banner-quarto {
  height: 50vh;
}


/* listas de informações */
.secao-lista-quartos {
  color: var(--cor-paragrafo);

  margin: 1em auto;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}