@charset "UTF-8";
/*styles globais*/
body{
    margin: 0px;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    background-color: bisque;
}

div{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
/*primeira seção | únicos*/
.topo{
    background-color: #B0DDFC;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.topo img{
    width: 150px;
}

.topo a{
    color: #1d1d1d;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 10px;
    border-bottom: 2px solid #1d1d1d;
}
/*segunda seção | banner*/
.banner img{
    padding: 0px
}
/*secao | terceira e quinta*/
.secao h1{
    margin-bottom: 0px;
}

.secao h2{
    margin-top: 5px;
    font-weight: normal;
    color: #1c81c0;
}

.secao img{
    width: 450px;
}

.secao p{
    font-size: 18px;
    width: 980px;
    margin: 10px auto;
    text-align: justify;
    line-height: 28px;
}

.secao span{
    font-weight: bold;
    color: #1c80c1;
}

/*seção destaques | quarta e sesta*/
.secao-destaque{
    background-color: #1d80c1;
}

.secao-destaque h3{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 40px;
}

/*globais*/