@charset "UTF-8";

:root {
  --font-1: "Ysabeau Infant", sans-serif;
  --font-2: "Montserrat", sans-serif;
  
  --white: #fff;
  --white2: #ffffffcc;

  --black: #000;
  --shadow-black-link: #0200006e;
  --shadow-black-table: #000000cc;

  --yellow-grad: #ffdf00;
  --green-grad: #009c3b;
}
