@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-1: "Ysabeau Infant", sans-serif;
  --font-2: "Montserrat", sans-serif;

  --white: #fff;
  --white2: #ffffffcc;

  --black: #000;
  --shadow-black-link: #0200006e;
  --shadow-black-table: #000000cc;

  --yellow-grad: #ffdf00;
  --green-grad: #009c3b;
}

/* Estilização geral para as duas seções */
.largura-max {
  height: 100vh;
  min-height: 700px;
  width: 100%;
  max-width: 750px;

  margin: auto;
  padding: 1em;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* section banner Neymar jr*/
section.banner{
  position: relative;
}
section.banner video {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.banner .conteiner {
  width: 100%;

  display: flex;
  flex-flow: column wrap;
  gap: 40px;
}

section img[alt="Neymar Jr"] {
  width: 200px;
  height: 200px;
  object-fit: cover;

  padding: 5px;

  border-radius: 50%;
  background-image: linear-gradient(90deg, #ffdf00 30%, #009c3b);
}

/* título Neymar jr */
section h1:first-of-type {
  color: var(--white);
  font-size: 3em;

  text-shadow: 2px 3px 2px #000;

  padding: 0 10px;
  position: relative;
}
.box_ney h1 {
  font-family: var(--font-1);
}
.estartisticas h1 {
  font-family: var(--font-2);
}

.box_ney h1:first-of-type::after {
  content: " ";

  width: 20px;
  height: 20px;
  padding-left: 15px;

  background: url("../assets/perfil/verificado.png") no-repeat center center;
  background-size: 20px;

  position: absolute;
  top: 50%;
}
.box_ney h1:first-of-type::before {
  content: " ";

  width: 50px;
  height: 4px;
  margin-left: 5px;

  background-image: linear-gradient(90deg, #ffdf00, #009c3b);
  border-radius: 20px;

  position: absolute;
  bottom: 0;
}

/* conteiner dos links */
nav.box_links {
  padding: 10px;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;

  position: relative;
}

.links-redes {
  background-color: var(--shadow-black-link);
  border-radius: 15px;

  padding: 0 10px;
  width: 100%;

  display: flex;
  align-items: center;
}
.links-redes:hover,
.links-redes a:hover  {
  background-color: var(--white);
  color: var(--black);
}
.links-redes a {
  color: var(--white);

  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-1);

  width: 100%;
  padding: 10px 0;
}

.links-redes img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  object-fit: cover;
}

/* section Estatíticas */
.estartisticas {
  font-family: var(--font-1);
  background: url('../assets/imagem-de-fundo.jpg') no-repeat fixed top center;
  background-size: cover;
}

.table-statistics {
  padding: 0.3em;
}

.table-statistics th {
  font-size: 1.3em;
  font-variant: small-caps;
  text-shadow: 0px 2px 2px #000;
}

.table-statistics th,
.table-statistics td {
  padding: 20px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.table-statistics tr:nth-child(odd) {
  background-color: var(--shadow-black-table);
  color: var(--white);
}
.table-statistics tr:nth-child(even) {
  background-color: var(--white);
  color: var(--black);
}
.table-statistics img {
  width: 30px;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 5px;
}