@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header.cabecalho {
  padding: 15px 0;
  text-align: center;
}
.cabecalho .title-dest {
  color: #3cbd87;
  font-size: 18px;
}

/* conteúdo principal */
main.content-princ {
  background-color: #f0f0f0;
  padding: 50px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.conteiner {
  max-width: 1024px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  gap: 38px;
}

/* cards */
div.card {
  box-shadow: 1px 1px 10px 1px gray;
  border-radius: 5px;

  width: 315px;

  flex: 1 1 auto;
}
.card-image img {
  width: 100%;
  height: 100%;

  border-radius: 5px;
}

.card-infor {
  padding: 0px 10px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.preco {
  border-top: 1px solid #ccc;
  padding: 15px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.icone-carrinho a {
  border: 1px solid #ccc;
  border-radius: 5px;

  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}
