@charset "UTF-8";

/* VARIAVEIS */
:root {
  --white: #fff;
  --white1: #f1f3f7;
  --white2: #f6f6f6;
  --black: #000;
  --zinza: #a8a4a4;
  --zinza-dark: #233032;
  --destaque: #2f86d6;
  --cor-shadow: rgb(47, 133, 214, 1);
  --font-padrao: "Poppins", Arial, sans-serif;
}

/*Configurações Gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-padrao);
}
html {
  scroll-behavior: smooth;
}

/* Largura limite geral */
.larg-max {
  width: 100%;
  max-width: calc(1024px - 1em);

  margin: auto;
  padding: 0 1em;
}

/* Header | Cabeçalho */
header.cabecalho {
  width: 100%;
  min-height: 7.25em;
  padding: 0.5em 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

div.logo {
  width: fit-content;
  height: fit-content;

  display: flex;
  gap: 1em;
}
.logo img[alt="Logo | tech"] {
  width: 4.5em;
  height: 4.5em;
}
.logo div.txt-logo {
  display: flex;
  flex-flow: column;
  gap: 0.1em;
}
.logo span.titulo {
  color: var(--black);
  font-size: 1.8em;
  font-weight: 600;
  text-align: left;
}
.logo span.subtitulo {
  color: var(--destaque);
  font-weight: 600;
  text-align: left;
}

nav.menu_principal {
  display: flex;
  gap: 1em;
}
.menu_principal a {
  color: var(--zinza-dark);
  font-size: 1.04em;
  font-weight: 600;

  text-decoration: none;
  text-transform: uppercase;
}
.menu_principal a:hover {
  color: var(--destaque);
  transition: 1s;
}

/* section banner */
section#banner {
  background-color: var(--destaque);
  color: var(--white);
  min-height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
}
div.secao_banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

div.conteudo_banner {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.conteudo_banner h2 {
  font-size: 2em;
}

figure.imagem_banner img {
  max-width: 31.25em;
}

/* tarja de anúcio */
div.anuncio_preco {
  width: 100%;
  min-height: 6.875em;
  padding: 1em 0;
  display: flex;
  align-items: center;
}

div.anuncio_preco-escuro {
  background-color: var(--zinza-dark);
}
div.anuncio_preco-claro {
  background-color: var(--destaque);
}

.anuncio_preco-escuro a {
  background-color: var(--destaque);
}
.anuncio_preco-claro a {
  background-color: var(--zinza-dark);
}

.anuncio_preco div.anuncio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.anuncio_preco :is(h3, p) {
  color: var(--white);
  padding: 0.2em 0;
}

.anuncio_preco a {
  color: var(--white);
  border-radius: 0.2em;

  font-size: 1.1em;
  font-weight: 600;
  padding: 1em 1em 1em 2em;

  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.anuncio_preco a::before {
  content: "";
  width: 20px;
  height: 20px;

  background: url("../assets/icone-foguete.png") no-repeat center center;
  object-fit: cover;

  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

/* seção cards infor */
section#info {
  padding: 5em 1em;
  display: flex;
  flex-flow: column wrap;
  gap: 3em;
}
.box_titulo h2 {
  text-align: center;
}
span.txt-destaque {
  color: var(--destaque);
}

/* container dos cars */
div.container_cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* cards */
div.card {
  border-radius: 5px;
  box-shadow: 6px 6px 10px #d3d3d320, -6px -6px 10px #ededed30;

  padding: 1em;
  text-align: center;

  flex: 1 1 18.125em;

  display: flex;
  flex-flow: column wrap;
  gap: 1.2em;
}

.card img {
  width: 6.25em;
}
.card div.text-card {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  gap: 0.3em;
}

/* section tabela de planos */
section#plano {
  background-color: var(--white1);
  padding: 5em 0em;
}
div.secao_tabela {
  display: flex;
  flex-flow: column wrap;
  gap: 3em;
}
div.flow_table {
  box-shadow: 15px 15px 30px #2f85d634, -15px -15px 30px #2f85d629;

  width: 100%;
  overflow: auto;
  padding-bottom: 0.2em;
}

/* tabela */
table.tabela_planos {
  border-radius: 2px;
  min-width: 51.25em;

  text-align: center;
}
/* cabeçalho */
thead.cabecalho_table th {
  background-color: var(--white);
  width: 18.75em;
  height: 9.375em;

  padding: 2em 1em;
}
thead.cabecalho_table div.box-itens-table {
  margin-top: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.box-itens-table img {
  width: 6.25em;
}
.box-itens-table small {
  color: var(--zinza);
  font-weight: 500;
}
/* corpo */
tbody.copo_table td {
  color: var(--zinza-dark);
  font-weight: 500;

  padding: 0.9em 0.5em;
}
/* efeito zebrado */
tbody.copo_table tr:nth-child(odd) {
  background-color: var(--white2);
}
tbody.copo_table tr:nth-child(even) {
  background-color: var(--white);
}

/* footer rodape */
footer.rodape {
  padding: 5em 0 0;
}
