@charset "UTF-8";

/* VARIAVEIS */
:root {
  --white: #fff;
  --white1: #f1f3f7;
  --white2: #f6f6f6;
  --black: #000;
  --zinza: #a8a4a4;
  --zinza-dark: #233032;
  --destaque: #2f86d6;
  --cor-shadow: rgb(47, 133, 214, 1);
  --font-padrao: "Poppins", Arial, sans-serif;
}

/*Configurações Gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-padrao);
}
html {
  scroll-behavior: smooth;
}

.larg-max {
  width: 100%;
  max-width: calc(1024px - 1em);

  margin: auto;
  padding: 0 1em;
}

/* Header | Cabeçalho */
header.cabecalho {
  width: 100%;
  min-height: 7.25em;
  padding: 0.5em 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

div.logo {
  width: fit-content;
  height: fit-content;

  display: flex;
  gap: 1em;
}
.logo img[alt="Logo | tech"] {
  width: 4.5em;
  height: 4.5em;
}
.logo div.txt-logo {
  display: flex;
  flex-flow: column;
  gap: 0.1em;
}
.logo span.titulo {
  color: var(--black);
  font-size: 1.8em;
  font-weight: 600;
  text-align: left;
}
.logo span.subtitulo {
  color: var(--destaque);
  font-weight: 600;
  text-align: left;
}

nav.menu_principal {
  display: flex;
  gap: 1em;
}
.menu_principal a {
  color: var(--zinza-dark);
  font-size: 1.04em;
  font-weight: 600;

  text-decoration: none;
  text-transform: uppercase;
}
.menu_principal a:hover {
  color: var(--destaque);
  transition: 1s;
}