@charset "UTF-8";

:root {
  --white: #fff;
  --white1: #f1f3f7;
  --white2: #f6f6f6;
  --zinza: #a8a4a4;
  --zinza-dark: #233032;
  --destaque: #2f86d6;
  --cor-shadow: rgb(47, 133, 214, 1);
  --font-padrao: "Poppins", Arial, sans-serif;
}

/*Configurações Gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-padrao);
}

html {
  scroll-behavior: smooth;
}

/*Cabeçalho | Header (alguns estilos para o 'footer')*/
header.cabecalho {
  background-color: #fff;
  margin: auto;
  padding: 20px 15px;
}
.cabecalho div.limite,
.rodape div.limite {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Configuração da LOGO-ALFATECH*/
div.logo-tech {
  position: relative;
  width: 320px;
}
div.logo-tech h1 {
  position: absolute;
  top: 0px;
  left: 95px;
}
div.logo-tech p {
  color: var(--destaque);
  font-weight: 600;
  position: absolute;
  top: 48px;
  left: 95px;
}
div.logo-tech .img-logo {
  width: 80px;
}

/*Nav | Configuração dos links do menu principal*/
nav.menu-principal a {
  color: var(--zinza-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.12em;
  margin-left: 20px;
  padding: 5px;
}
.menu-principal a:hover {
  background-color: var(--white2);
  color: var(--destaque);
  border-radius: 5px;
  transition: 0.5s;
}

/*Main | section (algumas configurações gerais)*/
main {
  background-color: var(--destaque);
}
section.banner {
  text-align: center;
  max-width: 1024px;
  margin: auto;
  height: 70vh;
  max-height: 1024px;
  min-height: 500px;
  max-width: 1024px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.text-banner {
  max-width: 450px;
  color: var(--white);
}
div.text-banner h2.titulo-banner {
  font-size: 1.7em;
  text-align: left;
}
div.text-banner p.paragrafo {
  margin: 1em 0;
  text-align: justify;
}

section.banner img {
  width: 50%;
  max-width: 500px;
  min-width: 200px;
}

/*Section Anúncio | Bottom-preço*/
section.secao-anuncio {
  background-color: var(--zinza-dark);
  color: var(--white);
}
section.secao-anuncio.d2 {
  background-color: var(--destaque);
}

div.largura-max {
  max-width: 1024px;
  padding: 31px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.largura-text {
  max-width: 600px;
}

section.secao-anuncio h3 {
  font-size: 1.5em;
}
a.link-preco {
  background-color: var(--destaque);
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  padding: 20px 20px 20px 40px;
  margin-left: 20px;
  border-radius: 4px;
  position: relative;
}
a.link-preco-black {
  background-color: var(--zinza-dark);
}
/*icone do foguete e efeitos*/
a.link-preco::before {
  content: url("../assets/icone-foguete.png");
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
a.link-preco:hover {
  text-decoration: underline;
  transition: 15s;
  color: var(--zinza);
}

/* Seção Informações (alguns estilos da seção tabela de preço) */
section.secao-informacoes {
  max-width: 1024px;
  margin: auto;
  padding: 70px 40px 40px;
}
.secao-informacoes {
  background-color: var(--white);
}
.secao-informacoes h2 {
  font-size: 2em;
  text-align: center;
}
h2 span.texto-destaque {
  color: var(--destaque);
}
/*Box's de informações*/
div.conteiner-info {
  display: flex;
  margin-top: 50px;
}

div.box-info {
  margin: 20px 10px;
  text-align: center;
  width: 33%;
}
.box-info h3 {
  margin: 15px 0;
  color: var(--zinza-dark);
}
.box-info p {
  font-size: 0.9em;
  color: var(--zinza-dark);
}
.box-info img {
  width: 100px;
}

/*Estilização da Tabela*/
article.secao-tabela-preco {
  background-color: var(--white1);
  min-height: 500px;
  padding: 70px 40px 40px;
}
.secao-tabela-preco h2 {
  font-size: 2em;
  text-align: center;
}
.secao-tabela-preco img {
  width: 100px;
}

table.tabela-infor {
  border-collapse: collapse;
  margin: 50px auto 30px;
  text-align: center;
  width: 1024px;
  height: 600px;
  box-shadow: 0px 0px 20px 3px var(--cor-shadow);
  background-color: var(--white);
  border-radius: 5px;
}
.overflow {
  overflow-x: auto;
  margin: 20px 45px;
}

.tabela-infor td,
.tabela-infor th {
  padding: 15px 10px;
  border: solid 2px var(--white2);
  font-weight: 500;
}
.tabela-infor th p {
  color: var(--zinza);
  font-weight: normal;
  font-size: 0.85em;
  margin: 15px 20px;
}
/*Efeito zebrado*/
.tabela-infor tbody tr:nth-child(2n - 1) {
  background-color: var(--white2);
}

/*Footer | rodapé (lista de contatos) */
footer.rodape {
  padding-top: 70px;
}
footer div.logo-tech {
  margin: auto;
  /*Centralizar a logo*/
}

div.conteudo-footer {
  text-align: center;
  margin: 50px 40px;
  font-weight: 600;
}
ul.lista-contato-endereco {
  list-style-type: none;
}
.lista-contato-endereco li,
.conteudo-footer p {
  margin-top: 20px;
}

/*Desenvolvido por Gabriel Iuri*/
div.footer-apresentacao {
  background-color: var(--white2);
  padding: 20px;
  text-align: center;
  font-weight: 600;
}
.footer-apresentacao a {
  color: var(--destaque);
  font-size: 1.15em;
  text-decoration: none;
}
.footer-apresentacao a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1260px) {
  nav.menu-principal {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  section.banner {
    display: flex;
    flex-direction: column;
  }
  section.banner img {
    min-width: 300px;
  }

  div.conteiner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.box-info {
    width: 60%;
  }
}
