@charset "UTF-8";

:root{
    --white: #fff;
    --white1: #f1f3f7;
    --white2: #f6f6f6;
    --zinza: #a8a4a4;
    --zinza-dark:#233032;
    --destaque: #2f86d6;
    --cor-shadow: rgb(47, 133, 214, 1);
    --font-padrao: 'Poppins', Arial, sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao)
}