@charset "UTF-8";

:root{
    --white: #fff;
    --white1: #f1f3f7;
    --white2: #f6f6f6;
    --zinza: #a8a4a4;
    --zinza-dark:#233032;
    --destaque: #2f86d6;
    --cor-shadow: rgb(47, 133, 214, 1);
    --font-padrao: 'Poppins', Arial, sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao)
}
body{background-color: #23303259;}


/*Cabeçalho | Header (alguns estilos para o 'footer')*/
header.cabecalho{
    background-color: #fff;
    margin: auto;
    padding: 35px 1em
}
.cabecalho div.limite,.rodape div.limite{
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Configuração da LOGO-ALFATECH*/
div.logo-tech{
    position: relative;
    width: 400px;
}
div.logo-tech h1{
    position: absolute;
    top: 0px;
    left: 95px;
}
div.logo-tech p{
    position: absolute;
    left: 95px;
    top: 48px;
    color: var(--destaque);
    font-weight: 600
}
div.logo-tech .img-logo{
    width: 80px;
}

/*Configuração dos links do menu principal*/
nav.menu-principal a{
    color: var(--zinza-dark);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.12em;
    margin-left: 20px
}


/*Main | section (algumas configurações gerais)*/
section.banner{
    text-align: center;
    background-color: var(--destaque);
    height: 70vh;
    min-height: 500px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.text-banner{
    max-width: 470px;
    color: var(--white);
}
div.text-banner h2.titulo-banner{
    font-size: 1.7em;
    text-align: left;
}
div.text-banner p.paragrafo{
    margin: 1em 0;
    text-align: justify;
}

section.banner img{
    width: 50%;
    max-width: 500px;
    min-width: 200px;
}


/*Section Anúncio | Bottom-preço*/
section.secao-anuncio{
    background-color: var(--zinza-dark);
    color: var(--white);
}
section.secao-anuncio.d2{
    background-color: var(--destaque);
}

div.largura-max{
    max-width: 1024px;
    padding: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.largura-text{
    max-width: 600px;
}

section.secao-anuncio h3{
    font-size: 1.5em
}
a.link-preco{
    background-color: var(--destaque);
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 20px 20px 20px 40px;
    border-radius: 4px;
    position: relative;
}
a.link-preco-black{
    background-color: var(--zinza-dark);
}
/*icone do foguete*/
a.link-preco::before{
    content: url('../assets/icone-foguete.png');
    position: absolute;
    left: 15px;
    top: 22px;
}