@charset "UTF-8";

:root {
  --white: #fff;
  --white1: #f1f3f7;
  --white2: #f6f6f6;
  --zinza: #a8a4a4;
  --zinza-dark: #233032;
  --destaque: #2f86d6;
  --cor-shadow: rgb(47, 133, 214, 1);
  --font-padrao: "Poppins", Arial, sans-serif;
}

/*Configurações Gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-padrao);
}

html {
  scroll-behavior: smooth;
}

/* Cabeçalho | Header */
header.cabecalho {
  background-color: var(--destaque);
  padding: 20px 15px;
  position: relative;
}
div.limite {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Logotipo AlfaTech */
div.logo-tech {
  position: relative;
  width: 320px;
}
.logo-tech h1 {
  position: absolute;
  top: 0px;
  left: 95px;
}
.logo-tech p {
  color: var(--white);
  font-weight: 500;
  position: absolute;
  top: 48px;
  left: 95px;
}
.logo-tech img {
  width: 80px;
}

/*Menu principal | Nav*/
nav.menu-principal a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.12em;
  font-weight: 600;
  margin-left: 20px;
  padding: 5px;
}
.menu-principal a:hover {
  background-color: var(--white2);
  color: var(--destaque);
  border-radius: 5px;
  transition: 1s;
}

/*Configuraçãp da tabela de preços*/
main {
  padding: 15px;
}
table.tabela-preco {
  border-collapse: collapse;
  margin: 20px auto;
}
div.table-flow {
  overflow-x: auto;
}

.tabela-preco th {
  background-color: var(--white1);
}
.tabela-preco tbody th {
  text-align: left;
  text-indent: 10px;
  font-weight: 600;
}
.tabela-preco th {
  border: 2px solid var(--white);
  padding: 15px 40px;
}

.tabela-preco tbody td {
  border: 1px solid var(--white1);
  font-weight: 500;
  text-align: center;
  padding: 15px 25px;
}

.tabela-preco th p {
  color: var(--zinza);
  font-weight: normal;
  font-size: 0.85em;
  margin-bottom: 5px;
}
.tabela-preco th h3 {
  font-size: 2em;
}

/*Estilizando a primeira celula da tabela (invisível) */
.th-none {
  visibility: hidden;
}

/*Marcador redodo da tabela*/
.marcador-table {
  display: block;
  margin: auto;
  width: 1em;
  height: 1em;
  background-color: var(--destaque);
  border-radius: 50%;
}

/*Footer | rodapé*/
footer.rodape {
  height: 250px;
  background-color: var(--destaque);
  position: relative;
}
div.conteudo-footer {
  text-align: center;
}

.logo-rodape {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.paragrafo-direitos {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
}

/*Desenvolvido por Gabriel Iuri*/
div.footer-apresentacao {
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
}
.footer-apresentacao p {
  font-weight: bold;
  font-size: 1.1em;
}
.footer-apresentacao a {
  color: var(--destaque);
  font-size: 1.15em;
  text-decoration: none;
}
.footer-apresentacao a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1260px) {
  nav.menu-principal {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  footer.rodape {
    height: 270px;
  }
}
