@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* cabeçalho */
header {
  width: 100%;
  max-width: 880px;

  margin: auto;
  padding: 1em;
}
header .logo {
  font-weight: bold;
}

/* banner */
div.banner {
  height: 50vh;
  min-height: 250px;
  width: 100%;

  background: url("img/capa.jpg") no-repeat top center;
  background-size: cover;
}
div.banner > div {
  height: 30%;
  background-color: #00000080;
  display: flex;
  align-items: center;
}
.banner div.largura {
  max-width: 880px;
  width: 100%;

  margin: auto;
  padding: 0 1em;

  text-align: right;
}
div.banner :is(h1, h2) {
  color: #fff;
}

/* conteudo principal */
main {
  width: 100%;
  max-width: 880px;

  margin: auto;
  padding: 1em;
}

/* container conteudo */
.conteudo h2 {
  font-size: 1.3em;
  margin-bottom: 0.7em;
}
.conteudo p {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

/* galeria de fotos */
.galeria {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1em 0.2em;
  margin: 2em auto;
}
.galeria img {
  flex: 1 2 100px;
  object-fit: cover;
}

/* paragrafos destaque */
.texto-destaque p {
  margin-bottom: 1em;
  padding-left: 0.5em;

  border-left: 1px solid #000;
}

/* seção destaque | contato */
#contato {
  margin: 5em auto 2em;
  padding: 0.5em 0;
  text-align: center;
  background-color: #6e0000bb;
  color: #fff;
}
#contato div {
  background-color: #6e0000;
}
