@import "header.css";
@import "section-banner.css";
@import "section-requisitos.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor-react: #63daf8;
  --cor-header: #20232a;
  --cor-section-banner: #282c35;
  --cor-titulo-card: #c2ac62;
}
